* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.container {
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
}

section {
  display: flex;
}

body {
  background-color: var(--four-color);
}
html {
  --first-color: #2f2e2c;
  --secondary-color: #aba6a1;
  --third-color: #e7e3e2;
  --four-color: #f7f2ef;
  --space-xs: 1rem;
  --space-s: 2rem;
  --space-m: 3rem;
  --space-l: 4rem;
  --space-xl: 5rem;
  --space-xxl: 10rem;
  --header-height: 100px;
}

h1 {
  font-family: "Tai Heritage Pro", serif;
  font-size: 3rem;
  color: var(--first-color);
}
h2 {
  font-family: "Varela", sans-serif;
  font-size: 2rem;
  color: var(--first-color);
}
h3 {
  font-family: "Varela", sans-serif;
  font-size: 1.5rem;
  color: var(--first-color);
}
p {
  font-family: "Varela", sans-serif;
  font-size: 1rem;
  color: var(--first-color);
}

.banner {
  position: sticky;
  top: 0;
  background: white;
  /* padding: 2rem; */
  font-family: tekst;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
  height: var(--header-height);
}

ul {
  padding-right: 30px;
  display: flex;
  gap: 25px;
  justify-content: center;
}

.logo {
  height: 100%;
  display: flex;
  justify-self: center;
}

a {
  color: black;
}

a:hover {
  color: rgb(255, 255, 255);
}

button:hover {
  color: white;
}

.toggle-btn {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;
  display: none;
  font-size: 30px;
}

.main-menu {
  display: flex;
  align-items: center;
}

@media (max-width: 627px) {
  .toggle-btn {
    display: block;
  }
  .main-menu {
    display: contents;
  }
  .main-menu ul {
    display: none;
  }
  .main-menu.shown ul {
    border-top: 1px solid black;
    padding: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }
}
.footer_line {
  display: flex;
  align-items: center;
  width: 80%;
  height: 1px;
  background: red;
}
